# macOS system file
.DS_Store

# Virtual environment
.venv/

# Data folder (ignore everything inside it)
data/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# Ignore sphinx build output
docs/build/
